/* universal selector */
* {
  background-color: #f1f1f4;
}

h2,
h3 {
  font-size: 1.5em;
  background-color: lightblue;
  text-align: center;
}
li {
  color: darkcyan;
}
span {
  color: darkgreen;
}
#l3 {
  color: firebrick;
}
.marked {
  font-weight: 600;
  color: limegreen;
}
