/* 
-- Specificity
Specificity is the algorithm used by browsers to determine the CSS declaration that is the most relevant to an element, which in turn, determines the property value to apply to the element.

-- Kekhususan
Kekhususan adalah algoritme yang digunakan oleh browser untuk menentukan deklarasi CSS yang paling relevan dengan suatu elemen, yang pada gilirannya, menentukan nilai properti yang akan diterapkan pada elemen tersebut.

*/
section article p span.published-name {
  color: blue;
}

section article p span.published-date {
  color: red;
}
/* hover = arahkan */
/* 
  --Kelas semu
Kelas semu CSS adalah kata kunci yang ditambahkan ke selektor yang menentukan status khusus dari elemen yang dipilih. Sebagai contoh, kelas semu :hover dapat digunakan untuk memilih tombol ketika penunjuk pengguna mengarahkan kursor ke tombol tersebut dan tombol yang dipilih ini kemudian dapat ditata.
*/
span[class="published-name"]:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* descendant */
.raw > p {
  color: chartreuse;
}

/* ajdacent */
.kosong + .kirim {
  background-color: purple;
  color: white;
}
/* atribut selector, namaElement[atribut=value] */
form input[type="text"] {
  color: black;
}
form input[type="password"] {
  color: red;
}
section article:nth-of-type(2n):hover {
  background-color: darkblue;
  color: white;
}
/* 
  Elemen semu
Elemen semu CSS adalah kata kunci yang ditambahkan ke selektor yang memungkinkan Anda menata bagian tertentu dari elemen yang dipilih. Sebagai contoh, ::first-line dapat digunakan untuk mengubah font dari baris pertama paragraf.
*/
section article h3::first-letter {
  font-size: larger;
  font-weight: bold;
}
.raw div p::after {
  content: " SELESAI";
}
