/* 
border
The border shorthand CSS property sets an element's border.
*/
.box-model {
  width: 700px;
  border: 1px solid lime;
  padding: 20px;
  margin: 20px 30px;
}

div[class="bordering"] {
  box-sizing: border-box;
  width: 720px;
  padding: 30px;
  border-style: ridge solid;
  border-width: 21px 10px 21px 10px;
  border-color: steelblue;
}
