/* 
border
The border shorthand CSS property sets an element's border.
*/
.box-model {
  width: 700px;
  border: 1px solid lime;
  padding: 20px;
  margin: 20px 30px;
}

div[class="bordering"] {
  box-sizing: border-box;
  width: 720px;
  padding: 30px;
  border-style: ridge solid;
  border-width: 21px 10px 21px 10px;
  border-color: steelblue;
  /* 
     Margin: Ini adalah ruang kosong di luar border, yang memisahkan kotak dari elemen lain di sekitarnya. Properti margin digunakan untuk mengatur jarak antara kotak dan elemen lain.
  */
  margin: 20px 0px;
}
.padding {
  /* 
    padding
  The padding CSS shorthand property sets the padding area on all four sides of an element at once.
  */
  width: 880px;
  box-sizing: border-box;
  border: 3px solid navy;
  /* padding-top: 30px;
  padding-right: 40px;
  padding-left: 100px;
  padding-bottom: 120px; */
  padding: 1.2em;
}
